.DS_Store
*.swp
*.key
*.sync-conflict-*
/.zettel-notes/
/.stfolder/
/.trash/
/.makemd/
.space/
/Spaces/
/Vaults/
/Vault.md
/[eE]xt/
*[iI]nbox/*
[lL]ocal/
*[pP]rivate/*
*[pP]rivate/*/
!*[pP]rivate/index.md
未命名*
[uU]ntitled*
draft*.*
temp*.*
test*.*
/broken links output.md
workspace.json
workspace-mobile.json
.obsidian/plugins/vare/data.json
.obsidian/plugins/recent-files-obsidian/data.json
