*
!*/

!*.md
!*.canvas
!*.png
!*.jpg

!.obsidian*/**
!Misc/Code/*

.DS_Store
*.sync-conflict-*
未命名*
[uU]ntitled*
[dD]raft*.*
[tT]emp*.*
[tT]est*.*

*[iI]nbox/*
[lL]ocal/
/[eE]xt/
*[pP]rivate/*
*[pP]rivate/*/
!*[pP]rivate/*-index.md

/.stfolder/
/.stversions/
/.trash/
/.zettel-notes/
/.makemd/
.space/
/Spaces/
/Vaults/
/Vault.md
/broken links output.md

workspace.json
workspace-mobile.json
bookmarks.json
**/plugins/vare/data.json
**/plugins/recent-files-obsidian/data.json
[hH]ome.canvas
[cC]ontext.md




# Ignore Smart Environment folder
.smart-env
