/* reading mode */
.workspace-leaf-content[data-type=markdown] .metadata-container:hover .metadata-content,
.workspace-leaf-content[data-type=markdown] .frontmatter-container:hover .metadata-content {
	display: block;
}

.workspace-leaf-content[data-type=markdown] .metadata-container .metadata-content,
.workspace-leaf-content[data-type=markdown] .frontmatter-container .metadata-content {
	display: none;
}

/* editing mode */
.cm-s-obsidian .HyperMD-frontmatter:hover,
.cm-s-obsidian .frontmatter-container:hover {
	display: block;
}

.cm-s-obsidian .HyperMD-frontmatter,
.cm-s-obsidian .frontmatter-container {
	display: none;
}
