.workspace-ribbon {
    padding-bottom: 8px;
}

.side-dock-actions {
    height: 100%;
    justify-content: flex-start;
}

.side-dock-settings {
    display: none;
}

div[aria-label = "打开其他仓库"] { 
    order: 997; 
    margin-top: auto !important;
}

div[aria-label = "打开设置"] { 
    order: 999; 
}
